<a href="https://colab.research.google.com/github/DarshBhor/KoshAssignment/blob/main/KOSHAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
#reading all Excel files
A=pd.read_excel('/content/A.xlsx')
B=pd.read_excel('/content/B.xlsx')
C=pd.read_excel('/content/C.xlsx')
D=pd.read_excel('/content/D.xlsx')

In [5]:
print(A.shape)
print(B.shape)
print(C.shape)
print(D.shape)

(105, 3)
(110, 2)
(280, 3)
(347, 2)

In [6]:
#Outer join on orderId

Mergeddf=pd.merge(A,B, left_on=A['A_OrderId'],right_on=B['B_OrderId'],how= 'outer')
Mergeddf

    key_0 A_CustomerId A_OrderId  A_Amount B_OrderId  B_Amount
0      O1           A1        O1   11325.0        O1   11325.0
1      O2           A2        O2   11832.0        O2   11832.0
2      O3           A3        O3   15633.0        O3   15633.0
3      O4           A4        O4   12236.0        O4   12236.0
4      O5           A5        O5   13729.0        O5   13729.0
..    ...          ...       ...       ...       ...       ...
110  O306          NaN       NaN       NaN      O306   29310.0
111  O307          NaN       NaN       NaN      O307   31419.0
112  O308          NaN       NaN       NaN      O308   33528.0
113  O309          NaN       NaN       NaN      O309   35637.0
114  O310          NaN       NaN       NaN      O310   37746.0

[115 rows x 6 columns]

In [7]:
Mergeddf1=pd.merge(C,D, left_on=['A_OrderId'],right_on=['B_OrderId'],how= 'outer')

In [8]:
# fuunction for check reconciliation status
def reconciled(row):
  if pd.notnull(row['A_OrderId']) and pd.notnull(row['B_OrderId']):
        return 'reconciled'
  elif pd.notnull(row['A_OrderId']):
        return 'Present In 1st'
  elif pd.notnull(row['B_OrderId']):
        return 'Present In 2nd'
  else:
        return None

In [9]:
Mergeddf['Status'] = Mergeddf.apply(reconciled, axis=1)

Mergeddf1['Status'] = Mergeddf1.apply(reconciled, axis=1)

In [10]:
Mergeddf1

    A_CustomerId A_OrderId  A_Amount B_OrderId  B_Amount          Status
0             A1        O1   11325.0        O1     11325      reconciled
1             A2        O2   11832.0        O2     11832      reconciled
2             A3        O3   15633.0        O3     15633      reconciled
3             A4        O4   12236.0        O4     12236      reconciled
4             A5        O5   13729.0        O5     13729      reconciled
..           ...       ...       ...       ...       ...             ...
342          NaN       NaN       NaN      O343    529143  Present In 2nd
343          NaN       NaN       NaN      O344    531252  Present In 2nd
344          NaN       NaN       NaN      O345    533361  Present In 2nd
345          NaN       NaN       NaN      O346    535470  Present In 2nd
346          NaN       NaN       NaN      O347    537579  Present In 2nd

[347 rows x 6 columns]

In [13]:
##Appending both dataframes
X=Mergeddf.append(Mergeddf1).drop_duplicates(subset=['A_OrderId','B_OrderId']).reset_index(drop=True)
X.to_csv('X.csv')

<ipython-input-13-9539b4aae3c6>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  X=Mergeddf.append(Mergeddf1).drop_duplicates(subset=['A_OrderId','B_OrderId']).reset_index(drop=True)

In [ ]:
X

    key_0 A_CustomerId A_OrderId  A_Amount B_OrderId  B_Amount      Status
0      O1           A1        O1   11325.0        O1   11325.0  reconciled
1      O2           A2        O2   11832.0        O2   11832.0  reconciled
2      O3           A3        O3   15633.0        O3   15633.0  reconciled
3      O4           A4        O4   12236.0        O4   12236.0  reconciled
4      O5           A5        O5   13729.0        O5   13729.0  reconciled
..    ...          ...       ...       ...       ...       ...         ...
347   NaN          NaN       NaN       NaN      O343  529143.0         two
348   NaN          NaN       NaN       NaN      O344  531252.0         two
349   NaN          NaN       NaN       NaN      O345  533361.0         two
350   NaN          NaN       NaN       NaN      O346  535470.0         two
351   NaN          NaN       NaN       NaN      O347  537579.0         two

[352 rows x 7 columns]

In [ ]:
Mergeddf.isin(B).value_counts()

key_0  A_CustomerId  A_OrderId  A_Amount  B_OrderId  B_Amount  Status
False  False         False      False     True       True      False     100
                                          False      False     False      15
dtype: int64